# IDE / venv
.idea/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Logs
logs/
*.log
*.log.*
src/logs/
src/logs/*.log
src/logs/*.log.*

# OS
.DS_Store
Thumbs.db

# data
data/**/*.bsp
data/**/*.bsp.*
data/**/*.lbl
data/**/*.dat
*.dat
src/data/**/*.bsp
src/data/**/*.bsp.*
src/data/**/*.lbl
